<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction</title>

</head>

    <body background='static/Diabetes_1.jpg'>

        <center>

        <h1> Patient having Diabetes </h1><br>
        
        <form method="POST", action="{{url_for('get_predicted')}}">
           <b> Glucose :  <input type="text", name='Glucose', placeholder="enter 1"> <br><br>
            BloodPressure :  <input type="text", name='BloodPressure', placeholder="enter 2"> <br><br>
            SkinThickness :  <input type="text", name='SkinThickness', placeholder="enter 3"> <br><br>
            Insulin : <input type="text", name='Insulin', placeholder="enter 4"> <br><br>
            BMI : <input type="text", name='BMI', placeholder="enter 5"> <br><br>
            DiabetesPedigreeFunction : <input type="text", name='DiabetesPedigreeFunction', placeholder="enter 6"> <br><br>
            Age : <input type="text", name='Age', placeholder="enter 7"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        
        
    </center>

    </body>
</html>

